{% extends 'website/base.html' %}

{% block title %}
بازیابی گذرواژه
{% endblock title %}

{% block content %}
<!-- Form -->
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">رمز عبور با موفقیت تغییر کرد</h1>
            <p>رمز عبور شما با موفقیت تغییر کرد. اکنون می‌توانید با رمز عبور جدید وارد شوید.</p>
        </div>
        <!-- End Heading -->

        <div class="d-grid mb-3">
            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}">ورود به حساب کاربری</a>
        </div>
    </div>
</div>
<!-- End Form -->
{% endblock content %}
