{% extends 'website/base.html' %}

{% block title %}
تعیین رمز عبور جدید
{% endblock title %}

{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
    <div class="text-center mb-5 mb-md-7">
      <h1 class="h2">تعیین رمز عبور جدید</h1>
      <p>لطفا رمز عبور جدید خود را وارد کنید.</p>
    </div>

    <form method="post" action="{% url 'accounts:password_reset_confirm' token=token %}">
      {% csrf_token %}
      <div class="mb-4">
        <label class="form-label" for="password">رمز عبور جدید</label>
        <input type="password" class="form-control form-control-lg text-center" name="password" id="password"
          placeholder="رمز عبور جدید" aria-label="رمز عبور جدید" required>
        <span class="invalid-feedback">لطفا رمز عبور را وارد کنید.</span>
      </div>

      <div class="mb-4">
        <label class="form-label" for="confirm_password">تکرار رمز عبور</label>
        <input type="password" class="form-control form-control-lg text-center" name="confirm_password" id="confirm_password"
          placeholder="تکرار رمز عبور" aria-label="تکرار رمز عبور" required>
        <span class="invalid-feedback">لطفا تکرار رمز عبور را وارد کنید.</span>
      </div>

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary btn-lg">تغییر رمز عبور</button>
      </div>

      <div class="text-center">
        <a class="link" href="{% url 'accounts:login' %}">بازگشت به صفحه ورود</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
