{% extends 'website/base.html' %}

{% block title %}
بازیابی گذرواژه
{% endblock title %}

{% block content %}
<!-- Form -->
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">رمز عبور جدید را وارد کنید</h1>
            <p>رمز عبور جدید خود را در زیر وارد کنید.</p>
        </div>
        <!-- End Heading -->

        {% if validlink %}
        <!-- Form -->
        <form class="js-validate needs-validation" method="post" novalidate>
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-3">
                <label class="form-label" for="id_new_password1">رمز عبور جدید</label>
                <input type="password" name="new_password1" class="form-control form-control-lg text-center"
                    id="id_new_password1" placeholder="رمز عبور جدید را وارد کنید" required>
                {% if form.new_password1.errors %}
                <span class="invalid-feedback" style="display: block;">{{ form.new_password1.errors.0 }}</span>
                {% endif %}
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-3">
                <label class="form-label" for="id_new_password2">تکرار رمز عبور جدید</label>
                <input type="password" name="new_password2" class="form-control form-control-lg text-center"
                    id="id_new_password2" placeholder="رمز عبور جدید را تکرار کنید" required>
                {% if form.new_password2.errors %}
                <span class="invalid-feedback" style="display: block;">{{ form.new_password2.errors.0 }}</span>
                {% endif %}
            </div>
            <!-- End Form -->

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">ذخیره رمز عبور</button>
            </div>
        </form>
        <!-- End Form -->
        {% else %}
        <div class="text-center">
            <p class="text-danger">لینک بازیابی رمز عبور نامعتبر یا منقضی شده است.</p>
            <div class="d-grid mb-3">
                <a class="btn btn-primary btn-lg" href="{% url 'accounts:password_reset' %}">درخواست لینک جدید</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- End Form -->
{% endblock content %}
