{% load static humanize %}

{% for object in products %}
  <div class="col mb-4">
    <!-- Card -->
    <div class="card card-bordered shadow-none text-center h-100">
      <div class="card-pinned">
        <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
        {% if object.is_new %}
          <div class="card-pinned-top-start">
            <span class="badge bg-success rounded-pill">جدید</span>
          </div>
        {% endif %}

        {% if object.discount_percent %}
          <div class="card-pinned-top-end">
            <span class="badge bg-danger rounded-pill">تخفیف!</span>
          </div>
        {% endif %}

        {% if not object.is_in_stock %}
          <div class="card-pinned-top-start">
            <span class="badge bg-danger rounded-pill">اتمام موجودی</span>
          </div>
        {% endif %}

        <div class="card-pinned-top-end">
          <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle"
            data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق">
            <i class="bi-heart"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="mb-2">
          <a class="link-sm link-secondary" href="#">{{ object.category.title }}</a>
        </div>

        <h4 class="card-title">
          <a class="text-dark" href="{% url 'shop:product_detail' slug=object.slug %}">{{ object.title }}</a>
        </h4>
        {% if object.discount_percent %}
          <p class="card-text text-dark fs-4">
            <span class="formatted-price">{{ object.final_price|floatformat:0|intcomma }} تومان</span>
            <span class="text-body me-1 fs-6 formatted-price text-decoration-line-through">
              {{ object.price|floatformat:0|intcomma }} تومان
            </span>
          </p>
        {% else %}
          <p class="card-text text-dark fs-4 formatted-price">{{ object.price|floatformat:0|intcomma }} تومان</p>
        {% endif %}
      </div>

      {% if object.is_in_stock %}
        <div class="card-footer pt-0">
          <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">افزودن به سبد خرید</button>
        </div>
      {% elif not object.is_in_stock %}
        <div class="card-footer pt-0">
          <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill disabled">افزودن به سبد خرید</button>
        </div>
      {% endif %}
    </div>
    <!-- End Card -->
  </div>
{% empty %}
  <div class="col-12 text-center w-100 py-5">
    <p class="text-center">هیچ کالایی برای نمایش وجود ندارد</p>
  </div>
{% endfor %}
